In [2]:
import pandas as pd

In [3]:
psg_players = pd.Series(['Navas', 'Mbappe', 'Neymar', 'Messi'],
                        index=[1, 7, 10, 30])

In [4]:
psg_players

1      Navas
7     Mbappe
10    Neymar
30     Messi
dtype: object

In [5]:
my_dict = {1: 'Navas', 7: 'Mbappe', 10: 'Neymar', 30: 'Messi'}  # Dictionary

In [6]:
pd.Series(my_dict)

1      Navas
7     Mbappe
10    Neymar
30     Messi
dtype: object

In [7]:
psg_players[0:3]

1      Navas
7     Mbappe
10    Neymar
dtype: object

In [8]:
dict={'Judador':['Navas', 'Mbappe','Neymar','Messi'],
 'Altura':[183.0,170.0,170.0,165.0],
 'Goles':[2,200,200,200]   
}

In [10]:
pd.DataFrame(dict)

  Judador  Altura  Goles
0   Navas   183.0      2
1  Mbappe   170.0    200
2  Neymar   170.0    200
3   Messi   165.0    200

In [11]:
df_players = pd.DataFrame(dict)

In [12]:
df_players.columns

Index(['Judador', 'Altura', 'Goles'], dtype='object')

In [13]:
df_players.index

RangeIndex(start=0, stop=4, step=1)

In [14]:
df_players

  Judador  Altura  Goles
0   Navas   183.0      2
1  Mbappe   170.0    200
2  Neymar   170.0    200
3   Messi   165.0    200