In [1]:
import pandas as pd

In [3]:
df_tortilla =pd.read_csv(r'C:\Users\irmin\Downloads\archive (2)\tortilla_prices.csv',sep= ',',header=0)
df_tortilla.head(2)

,State,City,Year,Month,Day,Store type,Price per kilogram
0,Aguascalientes,Aguascalientes,2007,1,10,Mom and Pop Store,9.9
1,Baja California,Mexicali,2007,1,10,Mom and Pop Store,NaN

In [4]:
df_tortilla.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284394 entries, 0 to 284393
Data columns (total 7 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   State               284394 non-null  object
 1   City                284394 non-null  object
 2   Year                284394 non-null  int64
 3   Month               284394 non-null  int64
 4   Day                 284394 non-null  int64
 5   Store type          284394 non-null  object
 6   Price per kilogram  278004 non-null  float64
dtypes: float64(1), int64(3), object(3)
memory usage: 15.2+ MB